@using BlazorAppRegPrestamos.BLL;
@using BlazorAppRegPrestamos.Models;
@page "/Moras"
@page "/Moras/{MoraId:int}"

<EditForm Model="mora" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Registro Moras</h3>
        </div>

        <div class="card-body">
            <form>
               
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>MoraId</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="this.MoraId" class="form-control col-3" />
                                <div class="input-group-append">
                                    <button type="button" style="z-index:0" class="btn btn-primary" @onclick="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="form-group">
                    <label>Fecha</label>
                    <InputDate @bind-Value="mora.Fecha" class="form-control col-4" />
                </div>
              
                <div class="form-group">
                    <label>Total</label>
                    <InputNumber @bind-Value="mora.Total" class="form-control col-4" readonly />
                </div>

            </form>
        </div>

        <div class="card">
            <div class="card-header bg-info">
                <h5 class="text-white">Mora Detalle</h5>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col form-group">
                        <label>PrestamoId</label>
                        <InputSelect @bind-Value="detalle.PrestamoId" class="form-control col-3">
                            @foreach (var item in lista)
                            {
                                <option value="@item.PrestamoId">@item.PrestamoId</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="col form-group">
                        <label>Valor</label>
                        <div class="input-group">
                            <InputNumber @bind-Value="detalle.Valor" class="form-control col-4" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary" @onclick="Agregar">Agregar</button>
                                <button type="button" class="btn btn-danger" @onclick="Remover">Remover</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>PrestamoId</th>
                                <th>Valor</th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @foreach (var item in mora.MorasDetalle)
                            {
                                <tr>
                                    <td>@item.PrestamoId</td>
                                    <td>@item.Valor</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>

        <div class="card-footer">
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary" @onclick="Nuevo">Nuevo</button>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
        string Mensaje = string.Empty;

        [Inject]
        public MoraBLL morasBLL { get; set; }

        [Inject]
        public PrestamoBLL prestamosBLL { get; set; }

        [Parameter]
        public int MoraId { get; set; }

    private Moras mora = new Moras();
    private MorasDetalle detalle = new MorasDetalle();

    List<Prestamos> lista = new List<Prestamos>();

    protected async override Task OnInitializedAsync()
    {
        lista = await prestamosBLL.GetPrestamos();
        Limpiar();
    }

    private async void Buscar()
    {
        var registro = await morasBLL.Buscar(this.MoraId);

        if (registro != null)
        {
            this.mora = registro;
        }
        else
        {
            Mensaje = ("No encontrado .");
        }
    }

    private void Agregar()
    {
        detalle.Id = 0;
        detalle.MoraId = this.MoraId;
        mora.Total += detalle.Valor;

        mora.MorasDetalle.Add(detalle);
        detalle = new MorasDetalle();
    }

    private void Remover()
    {

    }

    private void Nuevo()
    {
        Limpiar();
    }

    private async void Guardar()
    {
        mora.MoraId = this.MoraId;
        if (await morasBLL.Guardar(mora))
        {
            Mensaje = ("Guardado.");
            Limpiar();
        }
        else
        {
            Mensaje = ("no pudo ser guardado el registro.");
        }
    }

    private async void Eliminar()
    {
        if (await morasBLL.Eliminar(this.MoraId))
        {
            Mensaje = ("Eliminado");
            Limpiar();
        }
        else
        {
            Mensaje = ("no pudo ser eliminado.");
        }
    }

    private void Limpiar()
    {
        this.mora = new Moras();
        this.MoraId = 0;
    }}